*, *::before, *::after {
  box-sizing: border-box;  /* Alternative Box Model */
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* wipe all User Agent fonts, sizes, and weights */
  color: inherit;
  background-color: inherit;
}

body {
  font-family: 'Arial', sans-serif;
  /* color: rgb(42, 43, 42); */
  color: white;
  background-color: black;
  /* min-height: 100vh; */
}

img, picture, svg, video {
  display: block; /* remove the small whitespace that renders under each */
  max-width: 100%; /* allow to shrink with its container when forced */
  height: auto;
}

ul, ol {
    list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

button:active {
  opacity: 0.5;
}

.margin-auto-container {
  border: 2px solid red;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrap {
  border: 2px solid blue;
  display: flex;
  margin-bottom: 30px;
}

.buttons.wrap {
  gap: 20px;
}

button {
  width: 120px;
}

.display.wrap {
  font-size: 1.25rem; /* 20px */
}

.score.wrap {
  /* margin-bottom: XXX; */
}

.score.wrap > div {
  border: 2px solid red;
  width: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.final-result.wrap {
  font-size: 1.25rem; /* 20px */
  font-weight: bold;
}





/* CSS text-shadow
	text-shadow: 3px 3px 1px #bebebe;
   CSS box-shadow
	box-shadow: 6px 6px 5px 0 #bebebe;
visualize/manipulate both of these in DevTools!   

  CSS transition-timing-function
  CSS animation-timing-function
*/

/*

@media screen and (max-width: 1160px) {
  
  .disappear {
    display: none;
  }
   
  .appear {
    display: block;
  }
}


pixels = rem = User Agent Stylesheet (chrome)
10px = 0.625rem = h6, 10.72px
12px = 0.75rem
14px = 0.875rem = h5, 13.28px
16px = 1rem = base/body/h4
18px = 1.125rem = h3, 18.72px
20px = 1.25rem
22px = 1.375rem
24px = 1.5rem = h2
26px = 1.625rem
30px = 1.875rem
32px = 2rem = h1

*/