*, *::before, *::after {
  box-sizing: border-box;  /* Alternative Box Model */
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* wipe all User Agent fonts, sizes, and weights */
  color: inherit;
  background-color: inherit;
}

body {
  font-family: 'Acme', 'Arial', sans-serif;
  color: white;
  background-image: linear-gradient(black, rgb(42, 43, 42));
}

img, picture, svg, video {
  display: block; /* remove the small whitespace that renders under each */
  max-width: 100%; /* allow to shrink with its container when forced */
  height: auto;
}

ul, ol {
    list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.margin-auto-container {
  min-height: 100vh;
  max-width: 470px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrap {
  display: flex;
  margin-bottom: 40px;
}

.title.wrap {
  font-family: 'Knewave', cursive;
  font-size: 48px;
  margin-top: 30px;
  margin-bottom: 0;
}

.buttons.wrap {
  width: 100%;
  justify-content: space-between;
}

button {
  border-radius: 8px;
  box-shadow: 0px 0px 3px 2px white;
  opacity: 0.8;
  font-weight: bold;
}

button:hover {
  opacity: 1;
  transform: scale(1.1);
}

button:active {
  background-color: rgb(41, 40, 40);
}

.buttons > button {
  width: 120px;
  padding: 20px 0;
}

.result.wrap {
  font-size: 1.25rem; /* 20px */
  text-align: center;
}

.score.wrap {
  /* border: 2px solid red; */
}

.score.wrap > div {
  width: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reset > button {
  padding: 20px;
}

.reset > button,
.arena.wrap,
.result.wrap,
.score.wrap {
  transition: opacity 2s ease;
  visibility: hidden;
  opacity: 0;
}

.reset > button.visible,
.arena.wrap.visible,
.result.wrap.visible,
.score.wrap.visible {
  visibility: visible;
  opacity: 1;
}

.arena.wrap {
  justify-content: space-around;
  align-items: center;
  margin: 12px 0 24px 0;
  border: 2px solid white;
  width: 100%;
  transition: height 1.5s ease;
  height: 0px;
}

.arena.wrap.full-height {
  height: 200px;
}

.arena > img {
  display: none;
  transition: width 1s ease;
  width: 0%;
}

.arena > img.visible {
  display: block;
}

.arena > img.full-width {
  width: 25%;
}

.winner.wrap {
  display: none;
  transition: font-size 1s ease;
  font-size: 0px;
  font-weight: bold;
  margin-bottom: 0;
}

.winner.wrap.visible {
  display: block;
}

.winner.wrap.full-font {
  font-size: 48px;
}


@media screen and (max-width: 470px) {

  .title.wrap {
    font-size: 36px;
  }

  .buttons > button {
    width: 100px;
    padding: 20px 0;
  }

}







.margin-auto-container,
.score.wrap > div {
  /* border: 2px solid red; */
}

.wrap {
  /* border: 2px solid blue; */
}

/* CSS text-shadow
	text-shadow: 3px 3px 1px #bebebe;
   CSS box-shadow
	box-shadow: 6px 6px 5px 0 #bebebe;
visualize/manipulate both of these in DevTools!   

  CSS transition-timing-function
  CSS animation-timing-function
*/

/*

@media screen and (max-width: 1160px) {
  
  .disappear {
    display: none;
  }
   
  .appear {
    display: block;
  }
}


pixels = rem = User Agent Stylesheet (chrome)
10px = 0.625rem = h6, 10.72px
12px = 0.75rem
14px = 0.875rem = h5, 13.28px
16px = 1rem = base/body/h4
18px = 1.125rem = h3, 18.72px
20px = 1.25rem
22px = 1.375rem
24px = 1.5rem = h2
26px = 1.625rem
30px = 1.875rem
32px = 2rem = h1

*/