*, *::before, *::after {
  box-sizing: border-box;  /* Alternative Box Model */
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* wipe all User Agent fonts, sizes, and weights */
}

body {
  font-family: 'Arial', sans-serif;
  /* color: rgb(42, 43, 42); */
  color: white;
  background-color: black;
  min-height: 100vh;
}

img, picture, svg, video {
  display: block; /* remove the small whitespace that renders under each */
  max-width: 100%; /* allow to shrink with its container when forced */
  height: auto;
}

ul, ol {
    list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

button:active {
  opacity: 0.5;
}

.margin-auto-container {
  border: 2px solid red;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrap {
  display: flex;
}

.buttons.wrap {
  border: 2px solid blue;
  gap: 20px;
  margin-bottom: 30px;
}

button {
  width: 120px;
}

.display.wrap {
  border: 2px solid orange;  
  font-size: 20px;
  margin-bottom: 30px;
}

.score.wrap {
  border: 2px solid blue;
  margin-bottom: 30px;
}

.score.wrap > div {
  border: 2px solid red;
  width: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.final-result.wrap {
  border: 2px solid orange;  
  font-size: 20px;
  font-weight: bold;
}